<% layout('layouts/boilerplate') -%>

<div class="row mt-5">
	<div class="col-md-6 offset-md-3">
		<h1 class="mt-3 text-center">Create a new campground</h1>
		<form
			class="form-floating validation-form"
			action="/campgrounds"
			method="post"
			enctype="multipart/form-data"
			novalidate
		>
			<div class="mb-3">
				<label for="title" class="form-label">Title</label>
				<input
					name="campground[title]"
					type="text"
					class="form-control bg-dark text-light border-secondary"
					id="title"
					required
				/>
				<div class="invalid-feedback">This is a required field !</div>
			</div>
			<div class="row">
				<div class="col-md-8 mb-3">
					<label for="location" class="form-label bg-dark text-light">Location</label>
					<input
						name="campground[location]"
						type="text"
						class="form-control bg-dark text-light border-secondary"
						id="location"
						required
					/>
					<div class="invalid-feedback">This is a required field !</div>
				</div>
				<div class="col-md-4 mb-3">
					<label for="price" class="form-label">Price</label>
					<div class="input-group">
						<div class="input-group-text bg-secondary text-light border-secondary">&dollar;</div>
						<input
							name="campground[price]"
							type="number"
							step="0.01"
							class="border-secondary form-control bg-dark text-light "
							id="price"
							required
						/>
						<div class="invalid-feedback">This is a required field !</div>
					</div>
				</div>
			</div>
			<div class="mb-3">
				<label for="image" class="form-label">Upload Images</label>
				<input class="form-control bg-dark text-light border-secondary" type="file" name="image" id="image" multiple />
			</div>
			<div class="mb-3">
				<label for="description" class="form-label">Description</label>
				<textarea
					name="campground[description]"
					class="form-control bg-dark text-light border-secondary"
					id="description"
					rows="3"
					required
				></textarea>
				<div class="invalid-feedback">This is a required field !</div>
			</div>
			<div class="row">
				<div class="col-md-3">
					<button type="submit" class="btn btn-success">Create</button>
				</div>
				<div class="col-md-2 ms-auto">
					<a href="/campgrounds">Go Back</a>
				</div>
			</div>
		</form>
	</div>
</div>
